* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	font-family: Montserrat, sans-serif;
	color: white;
}

main {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(
		90deg,
		rgba(24, 197, 233, 1) 0%,
		rgba(48, 99, 249, 1) 85%
	);

	nav {
		width: 100vw;
		height: 90px;
		display: grid;
		place-items: center;

		h1 {
			text-align: center;
			font-size: 3em;
			font-weight: 700;
		}
	}

	article {
		width: 100vw;
		height: calc(100vh - 90px);
		display: flex;
		justify-content: center;
		align-items: center;

		#form {
			width: 400px;
			min-height: 100px;
			position: relative;
			top: -90px;
			background-color: white;
			padding: 5px 10px 5px 10px;
			border-radius: 15px;
			color: black;
			display: block;
			transition: 300ms;

			table {
				width: 100%;

				tr {
					td {
						padding: 5px 0 5px 0;
						width: 100%;

						label {
							font-size: 1.2em;
							letter-spacing: 0.5px;
						}

						#form-url-input {
							width: 100%;
							border: none;
							border: 1px solid rgb(175, 175, 175);
							font-size: calc(1.5em - 5px);
							border-radius: 10px;
							padding: 6px;
							color: rgb(1, 160, 1);
						}

						#form-url-input:focus {
							outline: transparent;
						}

						#form-submit {
							width: 100%;
							font-size: 1.5em;
							height: 38px;
							padding: 5px;
							border-radius: 10px;
							background-color: rgb(1, 160, 1);
							color: white;
							border: none;
							cursor: pointer;
							transition: background-color 200ms;
							display: grid;
							place-items: center;

							#submit-text {
								width: 100%;
								display: block;
							}

							#submit-loader {
								display: none;
								div {
									width: 20px;
									height: 20px;
									border: 3px solid white;
									border-top: 3px solid gray;
									border-radius: 50%;
									animation: loader-animation 750ms linear infinite;
								}
							}
						}

						#form-submit:hover {
							background-color: rgb(0, 141, 0);
							transition: background-color 200ms;
						}

						#form-submit:active {
							transform: scale(0.985);
						}
					}

					.error {
						padding: 0;
					}

					.error-active {
						padding: 0 0 0px 0;
						font-size: 12px;
						color: red;
					}
				}
			}
		}

		#after-submit {
			width: 400px;
			min-height: 100px;
			position: relative;
			top: -90px;
			padding: 5px 10px 5px 10px;
			border-radius: 15px;
			color: black;
			background-color: white;
			display: none;
			transition: 300ms;

			tr {
				td {
					padding: 5px 0 5px 0;
					width: 380px;

					label {
						font-size: 1.2em;
						letter-spacing: 0.5px;
					}

					input[type="text"],
					input[type="text"]:disabled {
						width: 100%;
						padding: 6px;
						font-size: calc(1.5em - 5px);
						color: rgb(1, 160, 1);
						border: none;
						border: 1px solid rgb(175, 175, 175);
						border-radius: 10px;
						outline: transparent;
					}
				}

				#buttons {
					display: flex;
					gap: 10px;

					button {
						height: 38px;
						padding: 5px 10px 5px 10px;
						border-radius: 10px;
						background-color: rgb(1, 160, 1);
						color: white;
						border: none;
						cursor: pointer;
						border-radius: 5px;
						transition: background-color 200ms;
					}

					button:hover {
						background-color: rgb(0, 141, 0);
						transition: background-color 200ms;
					}

					button:active {
						transform: scale(0.985);
					}

					#copy-button {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 5px;

						ion-icon {
							font-size: 1.5em;
						}

						span {
							font-size: 1.5em;
						}
					}

					#short-another {
						display: flex;
						justify-content: center;
						align-items: center;
						gap: 5px;
						flex-grow: 1;

						ion-icon {
							font-size: 1.5em;
						}

						span {
							font-size: 1.5em;
						}
					}
				}
			}
		}
	}
}

// Animation
@keyframes loader-animation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
